
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.nav-link, .link, .vol-btn{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    z-index: 50;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px grey;
}

.logo{
    cursor: pointer;
}

.logo-name{
    font-size: 2.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

.nav-links{
    list-style: none;
    padding-left: 0.5rem;
}

.nav-links li{
    display: inline-block;
    padding: 0px 1.5rem;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #046b09;
    font-weight: bold;
    border-bottom: 4px solid #046b09;
}

.nav-links li a.active{
    border-bottom: 4px solid #046b09;
    color: #046b09;
    font-weight: bold;
}
.btn{
    margin-left: 1rem;
}
button{
    padding: 0.8rem 2rem;
    background-color: rgb(64, 245, 106);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(6, 184, 51, 0.8);
}

/* slider section */
.slider{
    overflow: hidden;
}

