@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* navbar section */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    background: whitesmoke;
    height: 5.5rem;
    width: 100%;
    box-shadow: 0px 5px 10px grey;
}

.logo-name{
    color: black;
    font-size: 2rem;
    line-height: 80px;
    /* padding: 0 100px; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    margin-bottom: 2rem;
}

nav img{
    margin-left: 5rem;
    margin-top: 0.5rem;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: 500;
}
a.active, .link:hover{
    background: rgb(64, 245, 106);
    transition: .5s;
}
nav ul li a button{
    padding: 0.8rem 2rem;
    background-color: rgba(6, 184, 51, 0.8);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
nav ul li a button:hover{
    background-color: rgb(6, 184, 51) ;
    transition: .5s ease-out;
}
.check-btn{
    font-size: 1.8rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo-name{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .check-btn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active, .link:hover{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* slider section */

.slideshow{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.slideshow-item{
    /* width: inherit;
    height: inherit; */
    position: absolute;
    opacity: 0 ;
    animation: cycleImages 31s infinite;
}
.slideshow-item img{
    height: 30.8rem;
    width: 81.92rem;
    object-fit: cover;
    animation: zoom 31s infinite;
}
.slideshow-item:nth-child(1), .slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}
.slideshow-item:nth-child(2), .slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}
.slideshow-item:nth-child(3), .slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}
.slideshow-item-text{
    max-width: 60%;
    height: 50px;
    /* max-height: 20%; */
    position: absolute;
    /* margin-top: 5rem; */
    top: 50%;
    left: 0;
    transform: translateY(-70%);
    background-color: rgba(21, 20, 20, 0.8);
    color: #fff;
    padding: 10rem 5rem;
}
.slideshow-item-text h5{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.8rem;
    /* background-color: rgba(21, 20, 20, 0.8); */
}
.slideshow-item-text p{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    /* background-color: rgba(21, 20, 20, 0.8); */
}

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}

@media screen and (max-width:952px){
    .slideshow-item-text{
        max-width: 70%;
        padding: 2rem 0.3rem;
    }
    .slideshow-item-text h5{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:858px){
    .slideshow-item-text{
        max-width: 100%;
        padding: 1rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }
    .slideshow-item-text h5{
        font-size: 1.5rem;
    }
    .slideshow-item-text p{
        font-size: 0.3rem;
    }
}

/* ngo info section */

.ngo-info-1{
    background-color: whitesmoke;
    width: 67%;
    height: 500px;
    padding: 50px 50px;
    margin-bottom: 60px;
    float: left;
}
.ngo-info-2 img{
    width: 3rem;
    height: 3rem;
}
.ngo-info-2{
    float: right;
    background-color: rgb(91, 205, 110);
    width: 33%;
    height: 500px;
    padding: 50px 50px;
    margin-bottom: 60px;
    font-size: 1rem;
}
.ngo-info-2 #p1,
.ngo-info-2 #p2,
.ngo-info-2 #p3{
    text-align: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
}
.ngo-info-2 #n1,
.ngo-info-2 #n2,
.ngo-info-2 #n3{
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    margin-bottom: 0;
    font-size: 2.3rem;
}
.ngo-info-1 h2{
    font-size: 2rem;
    letter-spacing: 1px;
}
.line1{
    margin-top: -5px;
    width: 30%;
    opacity: 1;
    border: 2px solid;
    border-color: rgba(17, 142, 48, 0.8);
}
.ngo-info-txt-1{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
    font-family: 'Poppins',sans-serif;
}
.ngo-info-txt-2{
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.ngo-info-txt button{
    padding: 0.8rem 2rem;
    margin-top: 0;
    background-color: rgba(6, 184, 51, 0.8);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.ngo-info-txt button:hover{
    background-color: rgb(6, 184, 51) ;
    transition: .5s ease-out;
}

